<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>   
</head>
<body>
    <h1>Welcome to the App</h1>
    {% if user %}
        <p>Logged in as {{ user }}.</p>
        <a href="/logout"><button>Logout</button></a>
    {% else %}
        <p>You are not logged in. Please login to continue.</p>
        <a href="/login"><button>Login with Cognito</button></a>
    {% endif %}
</body>
</html>
